.about__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url("../../assets/Ellipse-wide.png");
  background-position: top;
  background-size: cover;
  height: 100vh;
  color: var(--brown);
}
.about_title__container {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 5em;
  width: 60%;
}
.about_title__container p {
  font-weight: 500;
}
.about_title__container p::first-letter {
  font-size: 40px;
  font-weight: 500;
}
@media only screen and (max-width: 800px) {
  .about_title__container {
    text-align: center;
    padding: 1em;
    width: 100%;
  }
}
